<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/admin/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/admin/css/init.css">
    <script type="text/javascript" src="../static/admin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/admin/js/init.js"></script>
    <script type="text/javascript" src="../static/admin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>后台</title>
</head>
{literal}
<script>
    $(document).ready(function(){
        setBodyHeight();
    })
</script>
{/literal}
<body>

    <div class="header">
        <div class="lf">个人后台</div>
        <div class="lg"><a href="javascript:void(0)">退出登陆</a></div>
    </div>
    {include file="nav.html"}
    <div class="nav-right">