{include file="header.html"}

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="admin.php">系统管理</a></li>
        <li class="active">用户管理</li>
    </ol>

    <div class="public-btn">
        <form action="user.php" method="post" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" name="key" id="public_name" value="{$key|default:''}" placeholder="请输入名称或者邮箱">
            </div>
            <input type="hidden" name="act" value="search">
            <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>

    <table class="table table-bordered table-hover table_user">
        <tr>
            <th><label><input type="checkbox">全选</label></th>
            <th>用户名称</th>
            <th>用户类型</th>
            <th>用户邮箱</th>
            <th>用户QQ</th>
            <th>最后登陆时间</th>
            <th>操作</th>
        </tr>
        {foreach from=$list item=item}
        <tr>
            <td>
                {if $item.user_id neq '1'}
                <input type="checkbox" name="user_id" value="{$item.user_id}">
                {/if}
            </td>
            <td>{$item.nick_name}</td>
            <td>{$item.user_type}</td>
            <td>{$item.user_email}</td>
            <td>{$item.user_qq}</td>
            <td>{$item.login_time|date_format:"%Y-%m-%d %H:%M:%S"}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-primary btn-xs" onclick="myUser('{$item.user_id}')">修改</a>
                {if $item.user_id neq '1'}
                <a href="javascript:void(0)" class="btn btn-danger btn-xs" onclick="userDel('row','{$item.user_id}')">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
    </table>

    <div class="button_btn clear">
        <div class="lf">
            <a href="javascript:void(0)" class="btn btn-primary" onclick="myUser()">新增</a>
            <a href="javascript:void(0)" class="btn btn-primary" onclick="userDel('.table_user')">删除</a>
        </div>
        <div class="lg">
            {include file="page.html"}
        </div>
    </div>

</div>

<script type="text/javascript" src="../static/admin/js/user.js"></script>

<!--修改和新增模态框-->
<div class="modal fade" id="myUser" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <form action="user.php" method="post" class="form-horizontal">
            <input type="hidden" name="act" value="new">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">新增用户</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="buttom.html"}