<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/admin/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/admin/css/init.css">
    <script type="text/javascript" src="../static/admin/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../static/admin/js/init.js"></script>
    <script type="text/javascript" src="../static/admin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>后台</title>
</head>
{literal}
<script>
    $(document).ready(function(){
        setBodyHeight();
    })
</script>
{/literal}
<body>
<!--删除模态框-->
<div class="modal fade" id="delete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">删除</h4>
            </div>
            <div class="modal-body">
                <p>是否确定删除？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-danger confirm">确定</button>
            </div>
        </div>
    </div>
</div>
    <div class="header">
        <div class="lf"><a href="admin.php">个人后台</a></div>
        <div class="lg"><a href="javascript:void(0)">退出登陆</a></div>
    </div>
    {include file="nav.html"}
    <div class="nav-right">